CREATE DATABASE LojaJogos;
GO

USE LojaJogos;
GO

CREATE TABLE Categorias (
    Id INT IDENTITY(1,1) PRIMARY KEY,
    Nome NVARCHAR(100) NOT NULL,
    Ativo BIT NOT NULL DEFAULT 1
);

CREATE TABLE Jogos (
    Id INT IDENTITY(1,1) PRIMARY KEY,
    Titulo NVARCHAR(200) NOT NULL,
    Descricao NVARCHAR(MAX) NULL,
    Preco DECIMAL(10,2) NOT NULL,
    DataLancamento DATE NULL,
    CategoriaId INT NOT NULL,
    ImagemUrl NVARCHAR(500) NULL,
    Ativo BIT NOT NULL DEFAULT 1,
    CONSTRAINT FK_Jogos_Categorias FOREIGN KEY (CategoriaId) REFERENCES Categorias(Id)
);

INSERT INTO Categorias (Nome) VALUES ('Ação'), ('RPG'), ('Desporto'), ('Estratégia');

